[mysqld]
server-id=2
log-bin=mysql-bin
binlog-do-db=dripfile
auto_increment_increment=2
auto_increment_offset=2
log_slave_updates=on
relay_log=relay-log
gtid_mode=ON
enforce_gtid_consistency=on
master_info_repository=TABLE
relay_log_info_repository=TABLE
sync_master_info=1
skip-host-cache
skip-name-resolve
bind-address = 0.0.0.0